@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
    font-family: 'Kanit', sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(165deg, rgba(2, 0, 36, 1) 10%, rgba(255, 79, 129, 1) 100%);
}

.container {
    background-color: #ffffffa1;
    padding: 1.75rem;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    text-align: center;
}

.title-lottery {
    color: #ff4f81;
    font-size: 1.85rem;
    margin: 0 0 1.25rem 0;
    text-shadow: 0px 0px 1px #333;
}

.btn-check-prize,
.btn-random-prize {
    background-color: #ff4f81 !important;
    color: white !important;
    font-size: 1.25rem !important;
    transition: background-color 0.3s ease, transform 0.2s ease !important;
}

.btn-check-prize:hover,
.btn-random-prize:hover {
    background-color: #ff377f;
    transform: scale(1.05);
}

.btn-check-prize:active,
.btn-random-prize:active {
    background-color: #e02a69;
}

.prize-display {
    margin: 30px 0;
}

.prize-display .title-results,
.check-section label {
    font-size: 1.75rem;
    font-weight: 500;
}

.prizes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.prize-item {
    background-color: #f3f0f2;
    border-radius: 12px;
    padding: 15px;
    font-size: 1.25rem;
    font-weight: 500;
    color: #555;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.prize-item strong {
    color: #ff4f81;
}

.check-section {
    margin-top: 2rem;
}

.check-section input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 1.1em;
    background-color: #f5f5f5;
    color: #333;
    outline: none;
    transition: background-color 0.3s;
}

.check-section input:focus {
    background-color: #ffffff;
    box-shadow: 0 0 0 .25rem #fa93b060;
    border-color: #fa8fad;
}
 
#resultMessage {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #4d68ff;
    font-weight: 500;
}
